@font-face {
  font-family: 'Futura';
  src: url('@/assets/fonts/FuturaCyrillicBold.ttf') format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Futura';
  src: url('@/assets/fonts/FuturaCyrillicMedium.ttf') format('ttf');
  font-weight: 500;
}